# Compiler files
cache/
lib/
broadcast/
vite/node_modules/
vite/.env
vite/dist/
.opencode/
.agents/
AGENTS.md
FAILEDTEST_UI.md
TODO.md
TODO_BLOCKED.md
PseudoCode.md

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env
